@media (max-width: 820px) {
  .navbar {
    flex-direction: column;
  }

  .container-departament {
    flex-direction: column;
  }

  .container-main {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    margin-top: -10px;

    .container-mug {
      width: 90%;
    }

    .container-description {
      width: 85%;
    }
  }
  .mug-detail-container {
    flex-direction: column-reverse;
    align-items: center;
    width: 800px;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .mug-detail-info {
    h1 {
      margin-top: -10px;
    }
  }

  .container-info {
    width: 800px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .acordeon-section {
    margin: 30px auto;
  }

  .container-sub-menu {
    display: none;
  }
  .category {
    display: none;
  }
}

@media (max-width: 608px) {
  .search-bar {
    width: 350px;
    margin-bottom: 25px;
  }

  #search-input {
    max-width: 350px;
  }

  .hamburger-menu {
    display: none;
  }

  #hamburguer {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 25px;
  }

  .container-departament {
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    padding: 20px;
    left: 0;
    top: 60px;
    width: 250px;
    opacity: 0;
  }

  .container-departament.show {
    opacity: 1;
  }

  .departament-links a {
    margin-bottom: 50px;
  }

  .section-hero {
    padding: 10px;
    img {
      width: 400px;
    }
  }
  .mug-detail-container {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    img {
      width: 450px;
    }
  }

  .container-info {
    width: 600px;
  }
}

@media (max-width: 480px) {
  .section-hero {
    padding: 10px;
    img {
      width: 300px;
    }

    h1,
    p,
    span {
      font-size: 30px;
    }
  }
  #hamburguer {
    top: 70px;
    left: 20px;
  }

  .container-departament {
    top: 85px;
  }

  .container-view-more a {
    font-size: 12px;
    width: 58px;
  }
  .container {
    flex-direction: column;
    margin-top: -10px;

    .container-mug {
      width: 100%;

      img {
        width: 250px;
        margin-left: 100px;
      }
    }

    .container-description {
      width: 85%;
    }
  }
  .mug-detail-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .mug-detail-image {
    img {
      width: 400px;
      height: 420px;
    }
  }

  .mug-detail-description {
    width: 350px;
    padding: 0 10px;
  }

  .mug-detail-description img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

  .contact-container {
    margin-top: -10px;
    p {
      font-size: 12px;
      padding: 20px 0;
    }
  }

  .container-info {
    flex-direction: column;
    width: 350px;

    label {
      width: 300px;
    }
  }

  .acordeon-section {
    gap: 25px;
  }

  .acordeon-section {
    flex-direction: column;
    justify-content: space-between;
  }

  .item-acordeon.hidden {
    display: none;
  }

  .container-acordeon {
    justify-content: space-between;
  }
}

@media (max-width: 393px) {
  #search-input {
    width: 250px;
    margin-left: 40px;
  }

  .search-icon {
    right: 67px;
  }
}
